  @font-face {
    font-family: Mukta;
    src: url("~@/assets/fonts/Mukta-Regular.ttf");
  }

  body {
    margin: 0px;
    padding: 0px 

  }
  
  div {
    font-family: Mukta;
  }

  .title {
    font-size: 1.4em;
    color: #616161;
    @media (max-width: 600px) {
      font-size: 1.2em;
    }
  }