$main-theme-color: #3a4346;
$box-shadow: 1px 1px 6px #c5c5c5;
$border-radius: 5px;
$block-background-color: #f3f3f3;
$base-gutter: 10px;
$standard-border: 1px solid gray;
$yes-color: #6e9443;
$no-color: #bb5c55;