$main-theme-color: #929a9c;
$box-shadow: 1px 1px 6px #949494;
$border-radius: 5px;
$block-background-color: #e0e0e0;
$base-gutter: 10px;
$standard-border: 1px solid gray;
$yes-color: #8bc34a;
$no-color: #f44336;